body {
    font-family: Arial, Helvetica, san-serif;
    background-color: RGB( 220, 220, 220 );
    padding: 10 10 10 20;
}

.indented {
    padding: 10 10 10 20;
}

a:link, a:visited {
    color: blue;
}

table.event {
    width: 100%;
    border: 1px solid black;
    background: white;
    font-family: Courier, Arial, Helvetica, san-serif;
}

td.field {
    width: 100;
    background: RGB( 220, 200, 150 );
}

td.value {
    background: #f5f5f5;
    font-size: 7pt;
}

div.srccontent {
    border: 1px dashed black;
    padding: 10 10 10 10;
    margin-left: 20;
    background: white;
    font-family: Courier, Arial, Helvetica, san-serif;
}

#trailimageid {
    font-size: 0.75em;
    position: absolute;
    visibility: hidden;
    left: 0px;
    top: 0px;
    width: 850px;
    height: 0px;
    z-index: 100;
}