
/* Navigation styles */
td.nav {	width: 160;
			vertical-align: top }
td.nav div {padding-left: 10px; 
			padding-bottom: 30px }
td.nav div a {	font-size: 10pt; 
				font-family: Arial Black, Arial, Helvetica, san-serif;
				color: navy }


/* Section Title styles */
.sectiontitle {	width: 100%;
				background-color: navy;
				font-size: 14pt;
				font-family: Arial, Helvetica, san-serif;
				font-weight: bold;
				color: white;
				padding: 5px 5px 5px 10px}
.sectiontext {	font-size: 12pt;
				font-family: Arial, Helvetica, san-serif;
				padding: 15px 5px 40px 40px}
h1 {	font-size: 18pt}

/* Preformated text style */
pre {	font-size: 10pt; 
		padding-left: 40px; 
		background-color: RGB(220, 220, 220) }

/* Tabular data */
div.tabdata 		{ padding: 20px 20px 20px 20px }
div.tabdata table	{ text-align: left;
					  border: 1px solid black }
div.tabdata table tr th	{ background-color: gray }
div.tabdata table tr th, div.tabdata table tr td { border: 1px solid black } 


