<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://smooks.org/EDIFACT/41/Envelope"
            class="org.mylin.ecore.model.envelope.EnvelopePackage"
            genModel="model/envelope.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="envelope"
            class="org.mylin.ecore.model.envelope.util.EnvelopeResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <uri
               name="http://smooks.org/EDIFACT/41/Envelope"
               uri="model/EDIEnvelope.xsd">
         </uri>
      </catalogContribution>
   </extension>

</plugin>
