html {
margin: 0;
padding: 0;
border: 0;
}

body {
margin: 0;
padding: 0 0 20px;
font-size: 80%;
background: #ded;
font-family: verdana,sans-serif;
}

h1 {font-size: 22px; border-bottom: 3px solid #fff; background: #000;
	margin-top: 0; color: #fff; padding: 3px 0 3px 3em;}

h4 {font-size: 1.2em; font-weight: bold; margin: 1.5em 10% .5em;}

.textbox {margin: 2em 0 3em;}

.textbox p {margin: .6em 18% .6em 18%; padding: 0;}

a:link, a:visited, a:active {color: #000;}

.alignright {margin: 0 30px 30px 0; text-align: right;}

.small {font-size: .9em;}

pre {margin: 30px 16%; padding: 20px 20px 20px 40px; background: #f0ddb8;
	border: 2px solid #000; font-size: 1.2em; font-family: monospace; font-weight: bold;}

pre span {color: #d00;}

ul {text-align: right; padding-right: 30px; list-style: none;}

html[xmlns] pre {font-size: 1.3em;} 

.textbox .imageholder {padding: 20px 0 20px;}

.outerfloatwrapper {
float: left; 
display: inline; 
width: 256px; 
margin: 0 15px 20px 15%;
}

.demobox {
width: 250px; 
border: 3px solid #4c6f42;
}

.demobox a:hover {
background: #dfd;
}

.firstfloat {
float: left; 
width: 200px; 
background: #939a90; 
text-align: center; 
color: #fff;
}

.secondfloat {
float: left; 
width: 250px; 
margin-bottom: 2px; 
background: #fbdabb;
}
