<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- 
	Root Spring IoC configuration file.  
	
	This file is loaded by the org.milyn.ioc.BeanFactory class.  This IoC config
	is extended by adding a Spring config called "ext-ioc.config" to the root
	of the classpath. See org.milyn.ioc.BeanFactory.
-->

<beans>

	<!-- 
		ContentDeliveryUnitCreator bean configurations. 
	-->
	<bean id="class" class="org.milyn.delivery.JavaContentDeliveryUnitCreator" singleton="true" /> 
	<bean id="xsl" class="org.milyn.delivery.XslContentDeliveryUnitCreator" singleton="true" /> 

	<!--
		Standalone Smooks Container configurations.
	-->	
	<bean id="standaloneResourceLocator" class="org.milyn.container.standalone.StandaloneResourceLocator" /> 
	
</beans>