<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Milyn Tinak &amp; Smooks Sample</display-name>
    <description>Milyn Tinak &amp; Smooks Sample</description>

	<!-- Tinak Tag Library Descriptor -->
	<taglib>
		<taglib-uri>www.milyn.org/tld/tinak.tld</taglib-uri>
		<taglib-location>/WEB-INF/lib/milyn-smooks-0.4.jar</taglib-location>
	</taglib>

	<!-- Template Tag Library Descriptor -->
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>	    

    <filter>
        <filter-name>SmooksFilter</filter-name>
        <filter-class>org.milyn.SmooksServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SmooksFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SmooksFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
	
</web-app>
