body {
	font-family: Arial, Helvetica, san-serif;
	background-color: RGB(220, 220, 220);
}

.indented {
	padding: 10 10 10 20;
}

a:link, a:visited {
	color: blue;
}

div.topnav {
	background: RGB(220, 200, 150);
	padding: 10 10 10 20;
	font-family: Arial Black, Arial, Helvetica, san-serif;
	margin-bottom: 20;
}

div.topnav a.pagelink {
	padding-right: 40;
}

.pagetitle {
	font-weight: bold;
	font-size: large;
	margin-bottom: 20;
}

div.pagelist div.pagelink {
	margin-left: 20;
	border: 1px dashed black;
	padding-left: 20;
	height: 22;
}
div.pagelist div.pagelink, span.pagelink-green {
	background: RGB(100, 256, 100);
}
div.pagelist div.hasreportitems, span.pagelink-amber {
	background: RGB(256, 180, 0);
}

/*
	############################################################################
	#	Page report styles.
	############################################################################
*/
div.srccontent {
	border: 1px dashed black;
	padding: 10 10 10 10;
	margin-left: 20;
	background: white;
	font-size: 11pt;
	font-family: Courier, Arial, Helvetica, san-serif;
}

/*
	############################################################################
	#	Node report popup styles.
	############################################################################
*/

p.nrsourcetitle, p.nrsourcedata {
	float: left;
	margin: 0 0 0 0;
	height: 20px;
}
p.nrsourcetitle {
	width: 20%;
	font-weight: bold;
}
p.nrsourcedata {
	width: 70%;
	font-size: 10pt;
}
#nrsummary {
	margin-top: 20;
}

div#nrdetail {
	margin-top: 20;
	margin-left: 10px;
	width: 770px;
}

/* Common header and row properties. */
div#nrheader span, div.nrrow span {
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	padding-left: 10px;
	margin: 0 0 0 0;
}

/* Header properties. */
div#nrheader span {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	font-weight: bold;
	font-size: large;
	color: white;
	background-color: RGB(100, 100, 100);
	padding-top: 3px;
	padding-bottom: 3px;
}

div#nrheader span, div.nrrowodd span, div.nrroweven span {
	float: left;
}
/* Row properties. */
div.nrrowodd span, div.nrroweven span {
	height: 120;
	overflow: scroll;
	font-size: 10pt;
	padding-bottom: 10px;
}

/* Column specific properties eg. widths etc*/
span.nridheader, span.nrid {
	width: 15%;
}
span.nrdescheader, span.nrdesc {
	width: 40%;
}
span.nrsuggestheader, span.nrsuggest {
	width: 40%;
}

/* Right-most column border */
span.nrsuggestheader {
	border-right: 1px solid black;
}
span.nrsuggest {
	border-right: 1px dashed black;
}

/* Odd/Even row properties - background colour etc */
div.nrroweven span {
	background: RGB(220, 220, 150);
}
div.nrrowodd span {
	background: RGB(220, 200, 150);
}
