H1 A:link, H2 A:link, H3 A:link, H4 A:link, H5 A:link, H6 A:link,
H1 A:visited, H2 A:visited, H3 A:visited, H4 A:visited, H5 A:visited, H6 A:visited 
{color: #000;}

.cnnSearchText,
.cnnStorySearch,
.cnnVideoLink,
.cnnInterfaceLink,
.cnnFormText,
.cnnFormTextB,
.cnnSectCopyright,
.cnnSectExtSites,
.cnnStoryContrib,
.cnnSectBoxSubhd,
.cnnStoryTools,
.cnnt1link,
.cnnMenuText,
.cnnTransHeaders,
.cnnTransDate,
.cnnProgramsTopBar,
.cnnProgramsTime,
.cnnProgramsOnairNav,
.cnnMobileText,
.cnnFullStory,
.cnnEuLang,
.cnnEuBusVid,
.cnnShowCap,
.cnnVerdana10,
.cnnVerdana11,
.cnnMobileTitle
{ font-family: verdana, arial, sans-serif; }

.cnnIndexCaption,
.cnnPadSBox,
.cnnArchiveMonth,
.cnnArchiveMonthDate,
.cnnLocalT1,
.cnnStoryContent,
.cnnStoryContent H1,
.cnnStoryContent H3,
.cnnStoryQuoteBox,
.cnnStoryTime,
.cnnSectBox,
.cnnSectWhtBox,
.cnnbotBullets,
.cnnBodyText,
.cnnBodyTextB,
.cnnSectTimestamp,
.cnnSponsor,
.cnnSectBoxHeadW,
.cnnHeaderM,
.cnnSectT2head,
.cnnCurrConv,
.cnnStoryBoxHeadB,
.cnnSectBoxHeadR,
.cnnSpecArchHead,
.cnnStoryIntro,
.cnnSmallText,
.cnnSectT2s,
.cnnSectT1,
.cnnCriticalMass,
.cnnStoryBoxHeadW,
.cnnStoryCaption,
.cnnSectResBox,
.cnnSectBulletItems,
.cnnSectSubLk1,
.cnnSectSubLk2,
.cnnSectSubLk3,
.cnnSectSubG,
.cnnProgramsDateHead,
.cnnProgramsTimestamp,
.cnnFinePrint,
.cnnBigPrint,
.cnnTransCal,
.cnnTransHead,
.cnnTransStoryHead,
.cnnTransSubHead,
.cnnProgramsText,
.cnnProgramsSchedule,
.cnnProgramsSmTime,
.cnnProgramsOnairHead,
.cnnLocalT2s,
.cnnServicesHd,
.cnnElection TD,
.cnnSkiReportHd,
.cnnSkiReportTable TD,
.cnnProgramsPrimetime
 { font-family: arial, helvetica, sans-serif; }

.cnnSectTimestamp,
.cnnSponsor,
.cnnFinePrint
{ font-size: 9px; }

.cnnFormText,
.cnnFormTextB,
.cnnSmallText,
.cnnStoryTime,
.cnnSectCopyright,
.cnnStorySearch,
.cnnVideoLink,
.cnnInterfaceLink,
.cnnCriticalMass,
.cnnCriticalMass:hover,
.cnnMenuText,
.cnnTransHeaders,
.cnnTransDate,
.cnnProgramsTopBar,
.cnnEuLang,
.cnnVerdana10,
.cnnProgramsOnairNav
{ font-size: 10px; }

.cnnIndexCaption,
.cnnStoryCaption,
.cnnSectExtSites,
.cnnStoryContrib,
.cnnSectBoxSubhd,
.cnnStoryTools,
.cnnt1link,
.cnnFullStory,
.cnnEuBusVid,
.cnnProgramsTime,
.cnnProgramsSmTime,
.cnnMobileText,
.cnnShowCap,
.cnnVerdana11,
.cnnMobileTitle
{ font-size: 11px; }

.cnnStoryContent,
.cnnbotBullets,
.cnnBodyText,
.cnnBodyTextB,
.cnnSectT2s,
.cnnSectBox,
.cnnSectWhtBox,
.cnnSectResBox,
.cnnSectBulletItems,
.cnnSectSubLk1,
.cnnSectSubLk2,
.cnnSectSubLk3,
.cnnSectSubG,
.cnnArchiveMonth,
.cnnPadSBox,
.cnnTransCal,
.cnnTransSubHead,
.cnnLocalT2s,
.cnnProgramsText,
.cnnElection TD,
.cnnSkiReportTable TD,
.cnnCurrConv,
.cnnProgramsSchedule
{ font-size: 12px; }

.cnnStoryContent H3,
.cnnSectBoxHeadW,
.cnnHeaderM,
.cnnSpecArchHead,
.cnnSectT2head,
.cnnStoryBoxHeadB,
.cnnSectBoxHeadR,
.cnnStoryBoxHeadW,
.cnnStoryIntro,
.cnnBigPrint,
.cnnTransHead,
.cnnProgramsDateHead,
.cnnProgramsTimestamp,
.cnnProgramsOnairHead,
.cnnProgramsPrimetime
{ font-size: 14px; }



.cnnStoryQuoteBox,
.cnnSectT1,
.cnnTransStoryHead,
.cnnLocalT1 H2,
.cnnServicesHd,
.cnnArchiveMonthDate
{ font-size: 16px; }

.cnnSectionT1 H2
{ font-size: 20px; }

.cnnSkiReportHd
{ font-size: 23px; } 

.cnnStoryContent H1
{ font-size: 24px; }

.cnnIndexCaption,
.cnnStoryCaption,
.cnnStoryContent H1,
.cnnStoryContent H3,
.cnnStoryQuoteBox,
.cnnStoryIntro,
.cnnSectBoxHeadW,
.cnnHeaderM,
.cnnFormTextB,
.cnnSectT2head,
.cnnCurrConv,
.cnnStoryBoxHeadB,
.cnnSectBoxHeadR,
.cnnStorySearch,
.cnnVideoLink,
.cnnInterfaceLink,
.cnnSectT1,
.cnnLocalT1 H2,
.cnnStoryTools,
.cnnStoryBoxHeadW,
.cnnt1link,
.cnnArchiveMonth,
.cnnArchiveMonthDate,
.cnnTransHeaders,
.cnnTransDate,
.cnnTransHead,
.cnnTransStoryHead,
.cnnTransSubHead,
.cnnProgramsTopBar,
.cnnProgramsDateHead,
.cnnProgramsTimestamp,
.cnnProgramsOnairHead,
.cnnProgramsPrimetime,
.cnnFullStory,
.cnnEuLang,
.cnnSpecArchHead,
.cnnEuBusVid,
.cnnServicesHd,
.cnnSkiReportHd,
.cnnShowCap,
.cnnBodyTextB,
.cnnProgramsOnairNav
{ font-weight: bold; }

A:link
{ color: #009; }

A:visited 
{ color: #336; }

A:link:hover 
{ 
color: #900;
text-decoration: none
}

A:visited:hover 
{color: #600;}

.cnnArchiveMonth,
.cnnArchiveMonthDate
{ color:#666666; }

.cnnIndexCaption,
.cnnStoryContent,
.cnnStoryContent H1,
.cnnStoryContent H3,
.cnnStoryCaption,
.cnnSectBox,
.cnnStoryQuoteBox,
.cnnStoryTime,
.cnnbotBullets,
.cnnBodyText,
.cnnBodyTextB,
.cnnFormTextB,
.cnnSectTimestamp,
.cnnSponsor,
.cnnSmallText,
.cnnSectCopyright,
.cnnSectExtSites,
.cnnStoryContrib,
.cnnSectBoxSubhd,
.cnnSectT2s,
.cnnSectT1,
.cnnSectResBox,
.cnnSectBulletItems,
.cnnSectSubLk1,
.cnnSectSubLk2,
.cnnSectSubLk3,
.cnnSectSubG,
.cnnStoryBoxHeadB,
.cnnSectT2head,
.cnnCurrConv,
.cnnTransHeaders,
.cnnTransSubHead,
.cnnSectWhtBox,
.cnnTransDate,
.cnnLocalT2s,
.cnnLocalT1,
.cnnProgramsTime,
.cnnProgramsText,
.cnnProgramsSchedule,
.cnnProgramsSmTime,
.cnnProgramsPrimetime,
.cnnSkiReportTable TD,
.cnnProgramsDateHead
{ color: #000000; }

.cnnSmallText,
{ color: #333333; }

.cnnSectBoxHeadW,
.cnnHeaderM,
.cnnStoryBoxHeadW,
.cnnProgramsOnairHead,
.cnnProgramsOnairNav
{ color: #FFFFFF; }

.cnnSectBoxHeadR,
.cnnStorySearch,
.cnnStoryTools,
.cnnProgramsTimestamp,
.cnnEuLang,
.cnnSpecArchHead,
.cnnTransHead,
.cnnServicesHd,
.cnnSkiHd,
.cnnTransStoryHead
{ color: #CC0000; }

A:visited:hover,
A:link:hover,
{ text-decoration: none; }

BODY {
	background-color: #ffffff;
	color: #000;	
	margin: 2px 2px 10px 2px;
}

.travelDestLineHeight { line-height: 16px; }
  
.cnnSectSubG,
.cnnTransHeaders,
.cnnTransCal
{ padding: 6px; } 

.cnnTransDate
{ padding-bottom: 3px; }
  
.cnnPadSBox
{ padding: 3px; }

.cnnIndexCaption {  
padding-bottom : 8px; 
padding-left : 6px; 
padding-right : 6px; 
padding-top : 3px;}

.cnnT2LandPad {  
  padding-top: 2px;
  padding-left: 0px;
  padding-bottom: 10px; 
  padding-right: 0px;}
  
  .cnnSpecArchHead {padding-bottom:6px;}
  
  .cnnVideoLink, .cnnInterfaceLink {text-transform: uppercase;}

/* ______________________ Padding ONLY styles _______________________ */
/* _______________ these are not page specific styles _______________ */

.pad4px {padding: 4px;}
.cnn2pxPad { padding: 2px; }
.cnn3pxPad { padding: 3px; }
.cnn4pxPad { padding: 4px; }
.cnn4pxBpad {padding-bottom:4px;}
.cnn5pxPad { padding: 5px; }
.cnn6pxPad { padding: 6px; }
.cnn6pxLpad { padding-left:6px;}
.cnn3pxTpad { padding-top:3px;}
.cnn3pxTBpad { padding-top:3px; padding-bottom: 3px;}
.cnn5pxTBpad { padding-top:5px; padding-bottom: 5px;}
.cnn6pxTpad { padding-top: 6px; }
.cnn6pxBpad { padding-bottom: 6px; }
.cnn6pxLRBpad {  
  padding-top: 0px;
  padding-left: 6px;
  padding-bottom: 6px; 
  padding-right: 6px;}
  .cnn6pxTBpad {  
  padding-top: 6px;
  padding-left: 0px;
  padding-bottom: 6px; 
  padding-right: 0px;}
    .cnn6pxTRBpad {  
  padding-top: 6px;
  padding-left: 0px;
  padding-bottom: 6px; 
  padding-right: 6px;}
.cnn6pxL3pxBpad {  
  padding-top: 0px;
  padding-left: 6px;
  padding-bottom: 3px; 
  padding-right: 0px;}
.cnn10pxT6pxBpad {padding-top:10px; padding-bottom:6px; }
.cnn4pxT10pxBpad {padding-top: 4px; padding-bottom: 10px;}
.cnn4pxT20pxBpad {padding-top: 4px; padding-bottom: 20px;}
.cnn4pxT26pxBpad {padding-top: 4px; padding-bottom: 26px;}
.cnn10pxTBPad {  
  padding-top: 10px;
  padding-bottom: 10px; 
}
.cnn10pxTB6pxLRpad {  
  padding-top: 10px;
  padding-bottom: 10px; 
  padding-left:6px;
  padding-right:6px;
}
.cnn3pxTB6pxLRpad {  
  padding-top: 3px;
  padding-bottom: 3px; 
  padding-left:6px;
  padding-right:6px;
}
.cnn10pxBPad  {padding-bottom: 10px;}
.cnn2pxBpad { padding-bottom: 2px;}
.cnn10pxPad  {padding: 10px;}


/*__________ component styles start here ________ */

/*_______________________________1.1 CEILING________________________*/
.cnnCeilingW a:link, .cnnCeilingW a:visited, .cnnCeilingW a:hover {font-family: verdana, helvetica, sans-serif; font-size:11px; font-weight:bold; text-decoration:none; color:#fff;padding-left:6px;}
.cnnCeilingW {font-family: verdana, helvetica, sans-serif; font-size:11px; font-weight:bold;color:#fff;}
.cnnCeilingB {font-family: verdana, helvetica, sans-serif; font-size:11px; font-weight:bold; color:#000;}
.cnnCeilingB a {color:#000;}

/* _______________ Section pages _______________ */

.cnnSectBoxHeadW {
background-color: #15467C;
}
.cnnSectResBox,
.cnnSectBulletItems
 {
line-height: 16px;
}

.cnnSectSubLk1
{ padding-bottom: 6px; }

.cnnSectSubLk2
{
line-height: 16px;
padding-top: 6px;
padding-bottom: 6px;
}

.cnnSectSubLk3
{
line-height: 16px;
padding-top: 6px;
padding-bottom: 26px;
}
 
.cnnDom .cnnSectT2s {padding-top:2px;padding-bottom:10px;font-weight:bold;line-height:18px;}

.cnnIntl .cnnSectT2s {padding-top:2px;padding-bottom:10px; line-height:18px;}

.cnnResBullets { padding-bottom: 2px;}

.cnnSectBoxHeadW {
  padding-left: 6px;
}


.cnnSectCopyright {
  padding-top: 3px;
}

.cnnSectExtSites {
  padding-top: 3px;
}


.cnnSectionT1 H2 {
	margin: 0px;
}

.cnnSectionT1 P {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.cnnSectBox {  
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px; 
  padding-right: 0px;}

.cnnSectWhtBox {  
  padding-top: 6px;
  padding-left: 0px;
  padding-bottom: 6px; 
  padding-right: 0px;
  }

  
.cnnbotBullets
{
	padding-top: 3px;
	padding-bottom: 3px;
}
 
/* _______________ Story pages _______________ */

.cnnStorySearch {
  padding-top: 6px;
}
.cnnStoryCaption {
  padding-top: 3px;
}
.cnnStoryContent {
  	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cnnStoryContent H1 {
  	padding: 0px;
	margin: 0px;
}



 .cnnStoryBoxHeadW {
	 padding-top: 3px;
	 padding-left: 6px;
	 padding-right: 6px;
	 padding-bottom: 3px;
}

.cnnStoryQuoteBox {
  line-height: 20px;
  padding-top: 6px;
  padding-left: 6px;
  padding-bottom: 6px; 
  padding-right: 6px;}
  /* ______________ Transcripts ________________________ */

.cnnTransProv {font-family: verdana, helvetica, sans-serif;
font-size:10px; font-weight:bold; padding:1px;}


/* ______________ Archives ________________________ */
.cnnArchiveBullet TD {
font-family: arial, helvetica, sans-serif;
font-size: 12px;
line-height: 16px;
}

/* _______________ Breaking News Bar _______________ */

#cnnBreakingNewsBar {
	background-color: #c00;
	speak: normal;
}

#cnnBreakingNewsTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

#cnnBreakingNewsTitle H1 {
	padding: none;
	margin: none;
	font-size: 1em;
	line-height: 1em;
	display: inline;
}

#cnnBreakingNewsText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#cnnBreakingNewsText A:link, #cnnBreakingNewsText A:visited {
	color: #fff;
}


/* _______________ Breaking News Tab _______________ */

#cnnBreakingNewsTab {
	background-color: #c00;
}

#cnnBreakingNewsTabText {
	background-color: #c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding-left: 4px;
}




/* _______________ Legacy CNN Nav Bar _______________ */

.cnnNavSearch {
	background-color: #ffc;
	color: #000;
	border: 1px solid;
	border-color: #ccc #333 #333 #ccc;
}

.cnnNavButton, .cnnFormButton {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	background-color: #369;
	color: #fff;
	font-weight: bold;
	padding: 1px;
	margin: 2px;
	border-top: outset 2px #69c;
	border-right: outset 2px #069;
	border-bottom: outset 2px #069;
	border-left: outset 2px #69c;
}

.cnnNavAd {
	padding-top: 4px;
	padding-bottom: 4px;
	color: #000;
}

.cnnNavText {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	padding-left: 4px;
}

.cnnNav {
	background-color: #036;
	color: #fff;
	cursor: pointer;
}
.cnnNav A:link, .cnnNav A:visited {
	color: #fff;
}
TR TD.cnnNav A:link, TR TD.cnnNav A:visited {
	text-decoration: none;
}

.cnnNavHilite {
	background-color: #c00;
	color: #fff;
	cursor: pointer;
}
.cnnNavHilite A:link, .cnnNavHilite A:visited {
	color: #fff;
}
TR TD.cnnNavHilite A:link, TR TD.cnnNavHilite A:visited {
	text-decoration: none;
}

.cnnNavGroup {
	background-color: #666;
	color: #fff;
}
.cnnNavGroup A:link, .cnnNavGroup A:visited {
	color: #fff;
}
TR TD.cnnNavGroup A:link, TR TD.cnnNavGroup A:visited {
	text-decoration: none;
}

.cnnNavOther {
	background-color: #ddd;
	color: #000;
	cursor: pointer;
}
.cnnNavOther A:link, .cnnNavOther A:visited {
	color: #000;
}
TR TD.cnnNavOther A:link, TR TD.cnnNavOther A:visited {
	text-decoration: none;
}

TD.swath {
	font: 10px sans-serif !important;
}

TR.cnnNavRow TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #369 #003 #003;
	border-left: none;
}

TR.cnnNavRow TD.swath {
	background-color: #369;
	border-right: none;
}

TR.cnnNavHiliteRow TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #f66 #600 #600;
	border-left: none;
}

TR.cnnNavHiliteRow TD.swath {
	background-color: #f66;
	border-right: none;
}

TR.cnnNavGroupRow TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #ddd #666 #666;
	border-left: none;
}

TR.cnnNavOtherRow TD {
	vertical-align: middle;
	border: 1px solid;
	border-color: #fff #666 #666;
	border-left: none;
}

TR.cnnNavOtherRow TD.swath {
	background-color: #ccc;
	border-right: none;
}

.cnnNavTextRed {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	padding-left: 4px;
	color: #c00
}

.cnnNavOtherOn{
	background-color: #ddd;
	color: #c00;
	cursor: pointer;
}

.cnnNavOtherOn A:link, .cnnNavOtherOn A:visited {
	color: #c00;
}

TR TD.cnnNavOtherOn A:link, TR TD.cnnNavOtherOn A:visited {
	text-decoration: none;
}

.cnnNavHiliteSub {
	background-color: #c00;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #600;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	line-height:14px;
	font-weight: bold;
	text-decoration: none;
	
}

.cnnNavSub {
	background-color: #EAEFF4;
	cursor: pointer;
	vertical-align: middle;
	border-bottom: 1px solid;
	border-color: #BFD4E8;
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	line-height:14px;
	font-weight: bold;
	text-decoration: none;
}

.cnnNavHiliteSub A:link, .cnnNavHiliteSub A:visited {
	text-decoration: none;
	color: #fff;
}

.cnnNavSub A:link, .cnnNavSub A:visited {
	text-decoration: none;
}

.cnnNavSub A:hover {color: #C00;}

TD.sub {
	background-color: #fff;
}

/* _______________ MOBILE _______________ */
.cnnMobileText {
	padding: 5px;
	}

/* _______________ LOCAL _______________ */

.cnnLocalT1 H2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.cnnLocalTop {
font-family: arial, helvetica, sans-serif;
font-size: 16px;
color: #000000;
font-weight: bold;
}

.cnnLocalT1 P {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.cnnLocalT2s
{ padding-bottom: 8px; }	


	
/* _______________ PROGRAMS _______________ */
.cnnProgramsDateHead {
	padding: 2px;
	}
.cnnProgramsTime {
	padding: 4px;;
}
.cnnProgramsSchedule {
	padding: 4px;
}
.cnnProgramsTimestamp {
	text-transform:uppercase;
	padding:0px;
	padding-top:3px;
	}

TD.cnnProgramsOnairNav A:link, TD.cnnProgramsOnairNav A:visited {
	color: #fff;
	text-decoration: underline;
}

.cnnProgramsText A:link, .cnnProgramsText A:visited {
	font-weight: plain;
}

/* _______________ MAIN PAGE _______________ */

BODY.cnnMainPage, BODY.cnnMainPage TD, BODY.cnnMainPage TH, BODY.cnnMainPage LI  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}



.cnnMainPage H2 {
	font-size: 20px;
	margin: 0px;
}

.cnnMainT1Hd {
 	background-color:#ffffff; 
	width:280px;
	text-align:center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
 }

.cnnMainT1Hd H2 {
 	padding-top: 10px; 
	padding-bottom: 10px; 
	padding-left: 6px;
	padding-right: 6px;
 }
 
.cnnMainT1Hd H2 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color:#000;
 }
 
.cnnMainT1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
 	padding: 3px 6px;
	padding-bottom:10px;
	
 }

.cnnMainT1 P {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/*
HR.cnnMainRule {
	color: #ccc;
	background-color: #ccc;
	border: 0px;
}

.cnnMainT2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 6px;
	padding-left: 0px;
	font-weight: bold;
	line-height: 16px;
}

.cnnMainT2 A:visited {
	font-weight: bold;
}
.cnnEurMainT2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 6px;
	padding-left: 0px;
	font-weight: bold;
	line-height: 17px;
}
.cnnEurMainT2 A:visited {
	font-weight: bold;
}
*/

.cnnMainNewT2 {
  	font-family : Arial, Helvetica, sans-serif;
  	font-size : 12px;
  	padding-bottom : 2px;
  	padding-top : 2px;
  	font-weight : bold;
}

.cnnMainSections {
	padding-top: 4px;
	padding-bottom: 15px;
	line-height:16px;
	
}


/* Market Box */

.cnnMainMarketBox {
	background-color: #69c;
	background-image: url("http://i.cnn.net/cnn/.element/img/1.0/main/market_bg.jpg");
	border: solid;
	border-width: 0px 1px;
	border-color: #fff #036 #036 #fff;
}

.cnnMainMarketBox TD {
	border-style: solid;
	border-width: 1px 0px;
	border-color: #fff #036 #036 #fff;
}

TR.noTopBorder TD {
	border-top: none;
}

TR.noBottomBorder TD {
	border-bottom: none;
}

.cnnMainMarketCell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
}
.cnnMainMarketCell A:link, .cnnMainMarketCell A:visited {
	color: #fff
}


/* Weather Box */

.cnnMainWeatherBox {
	background-color: #D0DBE8;

}

.cnnMainWeatherBoxEU {
	background-image: url("http://i.cnn.net/cnn/.element/img/1.0/main/weather.bg.eu.gif");
	background-position: right top;
	background-repeat: repeat-y;
}

.cnnWEATHERrow {
   background-image: url("http://i.cnn.net/cnn/.element/img/1.0/main/weather_bg.jpg");
   background-position: right top;
   /* border-bottom: 1px solid; */
   /* border-color: #d2daed #d2daed #d2daed; */
   font-weight:bold;
   color: #c00;
}

.cnnMainConditions {
	padding: 6px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
}


/* _______________ Weather Pages _______________ */

.cnnTempHi {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
}

.cnnTempLo {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
}

.cnnWeathBox {
padding: 4px;
font-family: arial, helvetica, sans-serif;
 font-size: 12px;
 line-height:15px;
}

.cnnWeathSearch {font-family: verdana, helvetica, sans-serif;
font-size: 11px;
font-weight: bold;}

.cnnWeathRegion {
 font-family: arial, helvetica, sans-serif;
 font-size: 14px;
 font-weight: bold;
 color: #000000;
}
/* _______________ Universal _______________ */

.cnnTabbedBoxHeader {
	padding-left: 6px;
	background-color: #fff;
	color: #000;
}
.cnnTabbedBoxHeader A:link, .cnnTabbedBoxHeader A:visited {
	color: #000;
}

TD.cnnTabbedBoxTab {
	background-image: url("http://i.cnn.net/cnn/.element/img/1.0/main/tab_gradient_bg.gif");
	background-position: top left;
	background-repeat: repeat-x;
	padding: 0px 5px;
}

.cnnBlueBoxHeader {
	padding-left: 6px;
	background-color: #036;
	color: #fff;
}
.cnnBlueBoxHeader A:link, .cnnBlueBoxHeader A:visited {
	color: #fff;
}

TD.cnnBlueBoxDiagonal {
	background-color: #036;
	background-image: url("http://i.cnn.net/cnn/.element/img/1.0/main/tab_diagonal_bg.gif");
	background-position: top right;
	background-repeat: no-repeat;
}

TD.cnnBlueBoxTab {
	padding: 0px 5px 0px 2px;
}

/* _______________ Video Pages _______________ */

.cnnNewspassBox, .cnnNewspassBox:visited, .cnnNewspassBox:active, .cnnNewspassBox:link {	
font-family: Arial;
font-size:12px;
font-weight: normal;
color: #000000
}

.cnnMoreOnTeases {	
font-family: Verdana;
font-size:11px;
font-weight: bold;
color: #000000
}

.cnnFormLt1
{
font-family: verdana, courier new, courier, sans-serif;
font-size:10px;
color:#000000;
font-weight:normal;
background-color:#ffffff;
}

/* _______________ Studio Tour _______________ */

.cnnTourTxtV {
		font-family: verdana;
		font-size: 11px;
		color: #000000;	
	}

.cnnTourTxtA {
		font-family: arial;
		font-size: 11px;
		color: #000000;	
	}

	
	
.cnnTourContact {
		font-family: verdana;
		font-size: 11px;
		color: #666666;	
	}

.cnnTourCopyright {
		font-family: verdana;
		font-size: 10px;
		color: #FFFFFF;	
	}

.cnnTourHdr {
		font-family: verdana;
		font-size: 14px;
		font-weight: bold;
		color: #CC0000;	
	}

.cnnTourNav, .cnnTourNav:active, .cnnTourNav:visited, .cnnTourNav:link {
		font-family: arial, verdana;
		font-size: 11px;
		font-weight: bold;
		color: #CC0000;	
	}

/* _______________ Show Pages _______________ */
.cnnShowHost {
font-family: verdana, sans-serif;
font-size:10px;
font-weight:bold;
color: #ffffff;
}

.cnnShowHead {
font-family: arial, sans-serif;
font-size:14px;
font-weight:bold;
}

.cnnShowNavBox {
padding-bottom:10px;
padding-top:6px;
padding-left:4px;
padding-right:4px;
line-height: 14px;
font-family: arial, verdana, sans-serif;
font-size:12px;}

.cnnShowNavHead {
padding-bottom:3px;
font-weight:bold;
color: #CC0000;
}
.cnnHLNnav
{
font-family: arial, helvetica, sans-serif;
font-size:10px;
line-height:12px;
}
/* _______________ Travel snapshots _______________ */

.CnnSnapshotCity {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #996633
}

.CnnSnapshotText {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: normal; 
color: #996633; 
line-height: 19px
}

.CnnSnapshotSig {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #996633
}

.CnnSnapshotSig2 {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #996633
}

.CnnSnapshotSubmit, .CnnSnapshotSubmit:link, .CnnSnapshotSubmit:visited {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 11px; 
font-weight: normal; 
color: #000099
}


/* _______________ Showbiz Top 10 Lists _______________ */
.cnnTop10Title {font-family: arial, helvetica, sans-serif;
font-size: 16px;
color: #CC0000;
font-weight: bold;
}

.cnnTop10Nav {font-family: verdana, helvetica, sans-serif;
font-size: 10px;
font-weight: bold;
}

.cnnTop10NavMore {
color: #CC0000;
}

.cnnTop10Table TD {
font-family: arial, helvetica, sans-serif;
font-size: 12px;
color: #000000;
}


/* _______________Martindale LawBox__________________ */
.cnnMdaleY {
font-family: verdana, arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #FFCC66;
}
.cnnMdaleBL {
font-family: verdana, arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #000099;
}

.cnnMdale {
font-family: verdana, arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #000000;
}

.cnnMdaleForm {
font-family: verdana, arial, sans-serif;
font-size: 10px;
font-weight: bold;
color: #000000;
}

.cnnMdaleStoryTxt {font-family: arial, verdana, sans-serif;
font-size: 11px; color:#fff;}

.cnnMdaleStoryForm {font-family: arial, verdana, sans-serif;
font-size: 11px;}

.cnn6pxPad {padding: 6px;}

/* _______________ELECTION WATCH___________________ */
.cnnElectionHead {
font-family: arial, helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #FFFFFF;
}

/* _______________WORLD BUSINESS PAGES___________________ */
.cnnBusMarketHd TD {
font-family: arial, helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
}

.cnnBusMarket TD {
font-family: arial, helvetica, sans-serif;
font-size: 11px;
line-height:14px;
}

.cnnMarketBoxTime {
font-family: arial, helvetica, sans-serif;
font-size: 11px;
color: #000000;
padding-top:2px;
padding-bottom:2px;
}

/* __________________--INSIDE SAILING _____________________*/
.cnnSailText {
color: #000000;
font-size : 11px;
}

.cnnSailNavW {
color: #FFFFFF;
font-weight : bold;
font-size : 11px;
}

.cnnSailNavB {
text-decoration:none;
font-weight : bold;
font-size : 11px;
color: #000000;
}

.cnnSailBullets {
color: #000099;
line-height : 16px;
font-weight : bold;
font-size : 11px;
}

.cnnSailT1Headline {
font-size : 15px;
font-weight : bold;
color: #000000;
}

.cnnSailT1Link {
font-size : 12px;
font-weight : bold;
color: #000000;
}

.cnnSailTime{
color:#ffffff;
font-family:arial, helvetica, sans-serif;
font-size:11px;
}

.ticker, .ticker a:link, .ticker a:visited {
color:#FFFF00;
font-family:verdana, arial, helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}

.cnnSailHead {
		font-family : Arial, Helvetica, sans-serif;
		font-size : 15px;
		font-weight : Bold;
		color : #cc0000;
	}
	
.cnnSailNavW, .cnnSailNavB, .cnnSailBullets, .cnnSailT1Headline, .cnnSailText {
font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}


/* __________________ THE MUSIC ROOM SHOWPAGE _____________________*/

.cnnMroomTop10 {font-family:verdana; font-size:11px; color:#FFFFFF; padding-bottom:13px;}
.cnnMroomAOL {font-family:verdana; font-size:12px; font-weight:bold; color:#FFFFFF;}
.cnnMroomStory {font-family:verdana; font-size:11px; line-height:14px; color:#FFFFFF;}
A.cnnMroomStorylk:link, A.cnnMroomStorylk:visited, A.cnnMroomStorylk:active, A.cnnMroomStorylk:hover {color:#FFFF99;}
.cnnMroomNav {font-family:verdana; font-size:10px; font-weight:bold; color:#FFFFFF;}
A.cnnMroomNavlk:link, A.cnnMroomNavlk:active, A.cnnMroomNavlk:hover, A.cnnMroomNavlk:visited {color:#FFFF99;}
.cnnMroomBullet {font-family:arial; font-size:8px; color:#FFFFFF;}
.cnnMroomPromo {font-family:verdana; font-size:11px; color:#FFFFFF;line-height:13px;}
.cnnMroomQV {font-family:verdana; font-size:11px; color:#FFCCCC;}
.cnnMroomQVlk:link, cnnMroomQVlk:visited, cnnMroomQVlk:active, cnnMroomQVlk:hover {color:#FFFF99;}
A.cnnMroomLink:link, A.cnnMroomLink:visited, A.cnnMroomLink:active, A.cnnMroomLink:hover {font-family:verdana; font-size:11px; line-height:14px; font-weight: bold; color:#000099;} 








